%legend Coauthors
%br
%p{style: "margin-left: 150px; margin-right: 200px;"} You can add coauthors to your paper by writting down their email(s). Please use ';' as the divider between multiple authors. Authors that already have an account on FRAB will automatically be added to the event. Authors that don't have an account will have their email linked to a new account.
= f.input :coauthors
