%div.gdpr
  %br
  %br
  By giving this Consent, it is considered that you freely and expressly give your consent to the collection and
  processing of your personal data (name and surname, e-mail, photos, videos) provided to the Institute for
  political Ecology. It is a voluntary provision of data, and you are not obliged to accept this Statement, i.e. you
  are not obliged to submit your personal data for use for the stated purposes, if you do not agree with
  everything stated here.
  %br
  Your personal data will be stored in accordance with the provisions of the General Data Protection
  Regulation and the Law on the Implementation of the General Data Protection Regulation (Official
  Gazette, number: 42/2018).
  %br
  %br
  Data Controller: Institute for Political Ecology (IPE), Trg kralja Tomislava 19, Zagreb, e-mail:
  odrast[at]ipe.hr
  %br
  %br
  Data Processor: Slobodna domena, Trg senjskih uskoka 8, Zagreb, e-mail: zadruga@slobodnadomena.hr
  %br
  %br
  Purpose of data processing: We will use the collected data exclusively for the purpose of organizing and
  holding the &quot;9th International Degrowth Conference&quot;
  Data processing period: We process data in the period from December 1, 2022. to 31.12.2023., counting
  from the date of receipt of data.
  %br
  %br
  All participants of this conference may be photographed and/or recorded, and photographs and/or recordings
  may be used with the aim of increasing the visibility and promotion of the event by sending press releases,
  publishing on social networks, advertising and/or promotional purposes and for the purpose of reporting to
  donors.
  %br
  %br
  The collected data will not be delivered to third parties in the Republic of Croatia and/or abroad.
  At any time, you have the right to request from the Data Controller (IPE) the correction of any data that you
  consider to be incorrect, the deletion of some or all personal data, photos or videos processed by the Data
  Controller, as well as the right to limit the processing of such data, i.e., to completely withdraw consent for
  processing of personal data, photos or videos that you previously provided, and if you are not satisfied with the
  way your personal data is processed by the Data Controller, you can at any time file an objection to the
  processing of such data to the Agency for the Protection of Personal Data as a supervisory body from Art. 51
  of the Act on the Implementation of the General Regulation on Data Protection.
  %br
  %br
  You can revoke your consent to processing at any time by sending a request in electronic form to the e-mail
  address of the Controller: odrast[at]ipe.hr or by sending a written request to the address of the Controller&#39;s
  headquarters: INSTITUTE FOR POLITICAL ECOLOGY, Trg kralja Tomislava 19, Zagreb.
  By accepting this Statement, you at the same time confirm that you are of legal age, and that you can give the
  Statement of the content described above without any restrictions. By confirming this Statement, you confirm
  everything stated above.

%br
%br

= f.input :gdpr, label: "I consent"
